{% extends 'advito/layout.html' %}
{% block unique_content %}
    <p>Все объявления</p>
    {% for post in posts %}
        <a href="{% url 'post_detail' post.id %}">
                    <p>{{post.author.username}}</p>
                   <p>{{ post.date_pub }}</p>
                   <p>
                       <img alt="posts image" src="{{ post.image.url }}"
                            style="width: 250px; height: 250px;">
                   </p>
                   <p>{{ post.header }}</p>
        </a>
    {% endfor %}
{% endblock unique_content %}