<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все объявления</title>
</head>

<body>
    <p>Все объявления</p>
    {% for post in posts %}
        <a href="{% url 'post_detail' post.id %}">
            <p>{{ post.author }}</p>
                   <p>{{ post.date_pub }}</p>
                   <p>
                       <img alt="posts image" src="{{ post.image.url }}"
                            style="width: 250px; height: 250px;">
                   </p>
                   <p>{{ post.header }}</p>
        </a>
    {% endfor %}
</body>

</html>