<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'advito/css/style.css' %}">
</head>
<body>

<header>
    <nav>
        <ul class="header-nav">
            <li class="link-menu name">
                <a href="{% url 'index' %}">Advito</a>
            </li>
            <li>
                <a href="{% url 'category' %}">Категории</a>
            </li>
            <li>
                <a href="{% url 'all' %}">Объявления</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="GET">
                        {% csrf_token %}
                        <button type="submit"> Logout </button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}"> Login </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
<main>
{% block unique_content %}
{% endblock unique_content %}
</main>
<footer>

</footer>

</body>
</html>